body {
  font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-email-input {
  transition: color 250ms cubic-bezier(0.5, 0, 0.1, 1);
  color: transparent;
  
}
.maskBackgroundImage {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
  background-image:linear-gradient(black, transparent),
  url('/src/Assets/netBackground.jpg');
  color: black;
}

/* .maskBackgroundImage {
  background-image:linear-gradient(black, transparent),
    url('/src/Assets/netBackground.jpg');
  -webkit-mask-image: radial-gradient(black 80%, transparent);
  mask-image: radial-gradient(black, transparent);
} */